* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #fff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;

}

.nav-links li {
    margin-left: 30px;
}

.nav-links a.active {
    color: #ac1e1e;
}

.nav-links a {
    text-decoration: none;
    color: #767373;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;

}



.hero {
    display: flex;
    align-items: center;
    padding: 50px 8%;
    background: radial-gradient(circle at right, #7f7d7d 30%, #bfb8b8 70%);
}

.hero-content {
    flex: 1;
}

.subtitle {
    color: #d94c4c;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.amp {
    font-family: 'Playfair Display', serif;
    color: #d94c4c;
    font-style: italic;
}

.description {
    color: #777;
    margin-bottom: 35px;
    max-width: 400px;
}

.btn-primary {
    display: inline-block;
    background-color: #ac1e1e;
    color: white;
    padding: 18px 35px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.hero-image {
    flex: 1;
    text-align: right;
}

.hero-image img {
    max-width: 100%;
}


.categories {
    text-align: center;
    padding: 100px 8%;
}

.section-tag {
    color: #d94c4c;
    font-size: 11px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 60px;
}

.category-grid {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 300px;
}

.cat-item {
    text-align: center;
}

.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
    gap: 0 auto;
}




.featured {
    padding: 80px 8%;width: 1172;

}

.featured-row {
    width: 1440px;;
    height: 222;
    opacity: 1;
    top: 507px;
    left: 14px;
    display: flex;
    gap: 50px;
}

.feat-text h3 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.feat-text p {
    color: #777;
    font-size: 14px;
}


.pottery-collection {
    padding: 100px 8%;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.product-card {
    text-align: left;
    margin-bottom: 40px;
}

.img-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 15px 0 5px;
}

.product-card .price {
    color: #777;
    font-size: 13px;
}

.view-all {
    margin-top: 40px;
}

.cta-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 550px;
    width: 100%;

}



.cta-img {
    width: 1440;
    height: 471;
    opacity: 1;
    top: 4499px;

}



.newsletter {
    padding: 100px 8%;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.news-icon {
    font-size: 40px;
    margin-bottom: 15px;
}

.news-form {
    display: flex;
    justify-content: center;
    margin: 30px 0 15px;
}

.news-form input {
    width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    outline: none;
}

.news-form button {
    background: #000;
    color: #fff;
    border: none;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 600;
}

.checkbox-container {

    font-size: 12px;
    color: #888;
}


.main-footer {
    padding: 100px 8% 40px;
    text-align: center;
}

.footer-logo {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
}

.footer-motto {
    color: #777;
    max-width: 500px;
    margin: 20px auto 60px;
}

.footer-contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 150px;

}

.contact-box .icon {
    font-size: 24px;
    display: block;
    margin-bottom: 15px;


}
.contact-box{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box p {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.contact-box a,
.contact-box span {
    color: #817f7f;
    text-decoration: none;
    font-size: 14px;

}

.footer-bottom {
    border-top: 1px solid #eee;
    padding-top: 30px;
    font-size: 12px;
    color: #1c1a1a;
}