body {
    margin: 0;
    padding: 40px;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width:1440px;
    margin:0 auto;
    display: flex;
    gap: 40px;
    align-items: start;
    justify-content: space-between;
}

/* LEFT FORM */

.form-section {
    width: 600px;
}

.form-section h2 {
    margin-bottom: 20px;
}

.form-section input,
.form-section textarea {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #cfd6dc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.form-section textarea {
    height: 220px;
    resize: none;
}

.file-btn {
    padding: 10px 15px;
    border: 1px solid #cfd6dc;
    border-radius: 6px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 15px;
}

.captcha {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    width:221px;
    
}

.captcha label{
    font-size: 20px;
    letter-spacing: 3px;
    width: auto;
}

.submit-btn {
    width: 200px;
    padding: 14px;
    background: #2e5fa7;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

/* RIGHT INFO CARD */

.info-section {
    width: 400px;
    height: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: -10px 10px rgba(0,0,0,0.15);
}

.logo {
    color: #2e5fa7;
    margin-bottom: 25px;
    text-align: end;
}

.info-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.socials {
    display: flex;
    gap: 10px;
}

.circle {
    width: 35px;
     height: 35px;
     background: #2e5fa7;
     color: white;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 14px;
}

.telegram-btn {
    background: #2e5fa7;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
}

.stores {
    display: flex;
    gap: 10px ;
}

.store {
    padding: 6px 10px;
    background: #e9eef4;
    border-radius: 6px;
    font-size: 12px;
} 